body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 150%; /* Adjust container width as needed */
    max-width: 3000px; /* Set a maximum width for larger screens */
    margin: 0 auto;
    padding: 20px;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

.iframe-container {
    position: relative;
    width: 150%;
    padding-bottom: 56.25%; /* 16:9 aspect ratio, adjust as needed for your figure */
    height: 0;
    overflow: hidden;
}

.iframe-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* Responsive Design for Mobile */
@media (max-width: 768px) {
    .container {
        width: 95%;
        padding: 10px;
    }
    .iframe-container {
        padding-bottom: 75%;
     }
}
